GQ_MAX_REELS_PER_WEEK=3
GQ_DEDUPE_DAYS=30
GQ_LANGUAGE=fr
GQ_MIN_TOPIC_SCORE=55
GQ_META_API_VERSION=v26.0
GQ_INSTAGRAM_USER_ID=
GQ_INSTAGRAM_ACCESS_TOKEN=
GQ_LIVE_PUBLISH=false
GQ_YOUTUBE_API_KEY=
GQ_GOOGLE_SERVICE_ACCOUNT_FILE=
GQ_GOOGLE_DRIVE_ACCESS_TOKEN=
GQ_DRIVE_PUBLISHED_FOLDER_ID=
GITHUB_REPOSITORY=RizkAdham96/gamerquest-social-agent
GITHUB_TOKEN=
